<a class="logo" href="{{@site.url}}">
    {{#if @site.logo}}
        <img class="logo-image" src="{{@site.logo}}" alt="{{@site.title}}">
    {{else}}
    <!--changed font size-->
        <span class="logo-text">{{@site.title}}</span>
    {{/if}}
</a>